{#
/**
 * @file news.html.twig
 * Default theme implementation to present News data.
 *
 * This template is used when viewing News pages.
 *
 *
 * Available variables:
 * - content: A list of content items. Use 'content' to print all content, or
 * - attributes: HTML attributes for the container element.
 *
 * @see template_preprocess_news()
 *
 * @ingroup themeable
 */
#}

{%
  set classes = [
  'news',
  not news.isPublished() ? 'news--unpublished',
  view_mode ? 'news--' ~ view_mode|clean_class,
  's-feed',
  news.hot.value ? 's-feed--hot',
  's-card-link',
  ]
%}

<div{{ attributes.addClass(classes) }}>

  <div class="s-feed__info s-info-line s-info-line--feed">
    <div class="s-info-line__element s-info-line__element--time">
      {{ news.created.value|date("H:i") }}
    </div>
    {% if content.photo['#items'] %}
      <div class="s-info-line__element s-info-line__element--photo"></div>
    {% endif %}
    {% if content.field_news_video['#items'] %}
      <div class="s-info-line__element s-info-line__element--video"></div>
    {% endif %}
  </div>

  <h2 class="s-feed__label">
    {{ label }}
  </h2>

  <a href="{{ url }}" class="s-feed__link">{{ label }}</a>

</div>
