{#
/**
 * @file
 * Theme override to display a view of unformatted rows.
 *
 * Available variables:
 * - title: The title of this group of rows. May be empty.
 * - rows: A list of the view's row items.
 *   - attributes: The row's HTML attributes.
 *   - content: The row's content.
 * - view: The view object.
 * - default_row_class: A flag indicating whether default classes should be
 *   used on rows.
 *
 * @see template_preprocess_views_view_unformatted()
 */
#}

{#{{ dump(view.id) }}#}
{#{{ dump(view.current_display) }}#}

{%
  set classes = [
  's-rubrics',
  view.current_display ? 's-rubrics--' ~ view.current_display|clean_class,
]
%}

    {% if (is_front == true) or (view.current_display == 'page') %}
      {% set place = 4 %}
    {% else %}
      {% set place = 6 %}
    {% endif %}

{% if title %}
  <h3>{{ title }}</h3>
{% endif %}
<div{{ attributes.addClass(classes) }}>
  {% for row in rows %}
    {{- row.content -}}
    {% if loop.index == place %}
      {% if banner_in_feed %}
        <div class="s-banner s-banner--feed">
          {{ banner_in_feed }}
        </div>
      {% endif %}
    {% endif %}
  {% endfor %}
</div>