{#<div class="reward-info-common">#}

    {#<div class="reward-block">#}

      {#<div class="reward-line">#}
        {#<div class="reward-line__label">{{ 'Общий бюджет редакторов'|trans }}</div>#}
        {#<div class="reward-line__data">{{ common.rewardEditors }} {{ currency|trans }}</div>#}
      {#</div>#}

    {#</div>#}

    {#<div class="reward-block">#}

      {#<div class="reward-line">#}
        {#<div class="reward-line__label">{{ 'Бюджет за кол-во'|trans }}</div>#}
        {#<div class="reward-line__data">{{ common.rewardQuantity }} {{ currency|trans }}</div>#}
      {#</div>#}

      {#<div class="reward-line">#}
        {#<div class="reward-line__label">{{ 'Материалов за период, всего'|trans }}</div>#}
        {#<div class="reward-line__data">{{ common.quantity }}</div>#}
      {#</div>#}

      {#<div class="reward-line">#}
        {#<div class="reward-line__label">{{ 'Стоимость за 1 материал'|trans }}</div>#}
        {#<div class="reward-line__data">{{ common.rewardPerQuantity }} {{ currency|trans }}</div>#}
      {#</div>#}

    {#</div>#}

    {#<div class="reward-block">#}

      {#<div class="reward-line">#}
        {#<div class="reward-line__label">{{ 'Бюджет за просмотры'|trans }}</div>#}
        {#<div class="reward-line__data">{{ common.rewardViews }} {{ currency|trans }}</div>#}
      {#</div>#}

      {#<div class="reward-line">#}
        {#<div class="reward-line__label">{{ 'Просмотров за период, всего'|trans }}</div>#}
        {#<div class="reward-line__data">{{ common.views }}</div>#}
      {#</div>#}

      {#<div class="reward-line">#}
        {#<div class="reward-line__label">{{ 'Стоимость за 1000 просмотров'|trans }}</div>#}
        {#<div class="reward-line__data">{{ common.rewardPerViews }} {{ currency|trans }}</div>#}
      {#</div>#}

    {#</div>#}

  {#</div>#}